{% load static %}
<div class="flex column pd-21-55 mg-em-1 br-rd-px-13 bckgr-white gap-em-1">
    <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M11.334 8.14575C10.7532 8.14575 10.2715 7.66408 10.2715 7.08325V2.83325C10.2715 2.25242 10.7532 1.77075 11.334 1.77075C11.9148 1.77075 12.3965 2.25242 12.3965 2.83325V7.08325C12.3965 7.66408 11.9148 8.14575 11.334 8.14575Z"
            fill="#3366FF" />
        <path
            d="M22.666 8.14575C22.0852 8.14575 21.6035 7.66408 21.6035 7.08325V2.83325C21.6035 2.25242 22.0852 1.77075 22.666 1.77075C23.2468 1.77075 23.7285 2.25242 23.7285 2.83325V7.08325C23.7285 7.66408 23.2468 8.14575 22.666 8.14575Z"
            fill="#3366FF" />
        <path opacity="0.4"
            d="M29.75 12.0416V24.0833C29.75 28.3333 27.625 31.1666 22.6667 31.1666H11.3333C6.375 31.1666 4.25 28.3333 4.25 24.0833V12.0416C4.25 7.79159 6.375 4.95825 11.3333 4.95825H22.6667C27.625 4.95825 29.75 7.79159 29.75 12.0416Z"
            fill="#3366FF" />
        <path
            d="M22.6673 16.6458H11.334C10.7532 16.6458 10.2715 16.1641 10.2715 15.5833C10.2715 15.0024 10.7532 14.5208 11.334 14.5208H22.6673C23.2482 14.5208 23.7298 15.0024 23.7298 15.5833C23.7298 16.1641 23.2482 16.6458 22.6673 16.6458Z"
            fill="#3366FF" />
        <path
            d="M17.0007 23.7292H11.334C10.7532 23.7292 10.2715 23.2476 10.2715 22.6667C10.2715 22.0859 10.7532 21.6042 11.334 21.6042H17.0007C17.5815 21.6042 18.0632 22.0859 18.0632 22.6667C18.0632 23.2476 17.5815 23.7292 17.0007 23.7292Z"
            fill="#3366FF" />
    </svg>
    <div class="flex align-center">
        {% if user_role == 'Работник' %}
        <h1>Ваши отзывы</h1>
        {% elif user_role == 'Администратор' %}
        <h1>Отрицательные отзывы</h1>
        {% elif user_role == 'Наблюдатель' %}
        <h1>Таблица отзывов</h1>
        {% endif %}
    </div>
    {% if user_role == 'Администратор' or user_role == 'Наблюдатель' %}
    <table cellpadding="0" cellspacing="0" class="wid-100" id="reviewBody">
        <thead>
            <tr>
                <th>№</th>
                <th>Сотрудник</th>
                <th>Дата</th>
                <th>Тип</th>
                <th>Логин</th>
                <th>Пароль</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Площадка</th>
                <th>Отделение</th>
                <th>Состояние</th>
                <th>Тип</th>
                {% if not user_role == 'Наблюдатель' %}
                <th>Редактировать</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for review in reviews_negative %}
            <tr>
                <td>{{ review.review.id }}</td>
                <td>{{ review.review.review.owner }}</td>
                <td>{{ review.review.review.create_date }}</td>
                <td>{{ review.review.review.type_stuff.name }}</td>
                <td>{{ review.review.review.re_login }}</td>
                <td>{{ review.review.review.re_password }}</td>
                <td>{{ review.review.review.re_firstname }}</td>
                <td>{{ review.review.review.re_lastname }}</td>
                <td>{{ review.review.review.space.name }}</td>
                <td>{{ review.review.review.office }}</td>
                <td>{{ review.review.review.status.name }}</td>
                <td>{{ review.review.review.type_review.name }}</td>
                <td><div id="countdown-{{ review.review.id }}"></div></td>
            </tr>
            <script>
                const daysLeft{{ review.review.id }} = {{ review.days_left }};
                const startDate{{ review.review.id }} = new Date("{{ review.start_date|date:'Y-m-d\TH:i:s.u' }}");
                const countdownElement{{ review.review.id }} = document.querySelector('#countdown-{{ review.review.id }}');
            
                function countdown{{ review.review.id }}() {
                    const currentDate = new Date();
                    const difference = startDate{{ review.review.id }}.getTime() + (daysLeft{{ review.review.id }} * 24 * 60 * 60 * 1000) - currentDate.getTime();
            
                    if (difference <= 0) {
                        countdownElement{{ review.review.id }}.textContent = "Review period has ended.";
                    } else {
                        const seconds = Math.floor(difference / 1000);
                        const minutes = Math.floor(seconds / 60);
                        const hours = Math.floor(minutes / 60);
                        const days = Math.floor(hours / 24);
            
                        countdownElement{{ review.review.id }}.textContent = `Осталось дней: ${days}, Часов: ${hours % 24}, Минут: ${minutes % 60}, Секунд: ${seconds % 60}`;
                    }
                }
            
                setInterval(countdown{{ review.review.id }}, 1000);
            </script>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    </div>

